<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <span><b>BetterT@g</b></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
</nav>

<div class="filter-button">
  <i class="fas fa-filter" (click)="toggleFilters()"></i>
</div>

<div class="file-button">
  <button (click)="fileInput.click()">
    <i class="fas fa-file-upload"></i>
    <input #fileInput type="file" (change)="onFileChange(fileInput.files)" style="display:none;" />
  </button>
</div>
