$translationIn: -185px;

.inner-body {
    width: 200px;
    border-left: 2px solid #2f2f2f;
    border-right: 2px solid #2f2f2f;
    border-bottom: 2px solid #2f2f2f;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    background: #191919;

    &.body-closed {
        animation: slideUp 1s;
        transform: translateY($translationIn);
       
        &.transparent{
            opacity: 0.1;
        }
    }
    &.body-opened {
        animation: slideDown 1s;
        transform: translateY(0);
        
        &.transparent{
            opacity: 1;
        }
    }
    
}



.content-types {
    color: white;
    .options-panel {
        margin-left: 10px;
    }
}

.button-wrapper {
    text-align: center;
    margin-top: 15px;
    button{
        color: black !important;
        background: orange;
        border-radius: 25px;
        padding: 0;
        width: 50px;
    }
}

@keyframes slideUp {
    from { transform: translateY(0); }
    to   { transform: translateY($translationIn); }
}

@keyframes slideDown {
    from { transform: translateY($translationIn); }
    to   { transform: translateY(0); }
}