app-header, app-footer{
  z-index: 999;
}

app-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

//.inner-body {
//  margin-top: 43.19px;
//  margin-bottom: 35px;
//}
