<!-- IMAGE SHOW CONTROLLER -->
<div class="inner-body">
    <div class="image-controller">
        <div class="controller-buttons">
            <button type="button" class="btn btn-primary" (click)="retorna()"><i class="fas fa-arrow-left"></i></button>
            <button type="button" class="btn" [ngClass]="{'btn-danger btn-paused': playing, 'btn-success': !playing}"
                (click)="playing = !playing; setTimer();">
                <i class="fas fa-play" *ngIf="!playing"></i>
                <i class="fas fa-pause" *ngIf="playing"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="avanca()"><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>

    <div class="img-wrapper">
        <img src='{{photos[indexSelected].url}}' [ngClass]="{'d-none': loading}" (error)='removePhoto();'
            (load)="loading = false; setTimer();" *ngIf="photos.length > 0 && photos[indexSelected].url">

        <div class="loader-wrapper" *ngIf="loading">
            <div class="loader"></div>
        </div>
    </div>
</div>