<!-- IMAGE SHOW CONTROLLER -->
<div class="inner-body">
    <div class="image-controller">
        <div class="controller-buttons">
            <button type="button" class="btn btn-primary" (click)="retorna()"><i class="fas fa-arrow-left"></i></button>
            <button type="button" class="btn" [ngClass]="{'btn-danger btn-paused': playing, 'btn-success': !playing}"
                (click)="playing = !playing; setTimer();">
                <i class="fas fa-play" *ngIf="!playing"></i>
                <i class="fas fa-pause" *ngIf="playing"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="avanca()"><i class="fas fa-arrow-right"></i></button>
        </div>
        <app-content-filter (changes)="setFilterChanges($event)"></app-content-filter>
        <div class="status-button" (click)="showStatusBoard = !showStatusBoard;">
            <i class="fas fa-chevron-circle-left"
                [ngClass]="{'status-opened ': showStatusBoard, 'status-closed ': !showStatusBoard}"></i>
        </div>
    </div>

    <div class="cronometro-wrapper" [ngClass]="{
        'fade-out': playCronometroAnimation,
        'hidden': !playCronometroAnimation}">
        <div class="seconds-wrapper">
            <span>{{intervalLoopTime/1000}}s</span>
        </div>
        <img src="./../../../assets/images/cronometro.svg" alt="">
    </div>

    <app-status-board (close)="showStatusBoard = $event;"
        [ngClass]="{'status-opened ': showStatusBoard, 'status-closed ': !showStatusBoard}"></app-status-board>
    <div class="img-wrapper">
        <img src='{{photos[indexSelected].url}}' [ngClass]="{'d-none': loading}" (error)='removePhoto();'
            (load)="loading = false; setTimer();" *ngIf="photos.length > 0 && photos[indexSelected].url && !needIframe">

        <iframe [src]="photos[indexSelected].url | safe" frameborder="0" scrolling="no" allowfullscreen
            (load)="this.loading = false; this.utilsService.checkIsVideo(photos[indexSelected].url) ? null : setTimer()"
            (error)='removePhoto();' *ngIf="needIframe"></iframe>

        <div class="loader-wrapper" *ngIf="loading;">
            <div class="loader"></div>
        </div>
    </div>
</div>